* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2vw;
}
ul li{
    display: inline-flex;
}

.headeradmin h1{
    text-align: center;
    font-size: 50px;
    background-color: antiquewhite;
    padding: 20px;
    margin: 0;
}
.menu ul li{
    margin-left: 30px;
}
.contents{
    margin-left: 500px;
    background:linear-gradient(to top , blue,red);
    width: 300px;
    text-align: center;
    border-radius: 10px;
}
.mb10{
    margin-bottom: 20px;
}
.btn_input{
    margin-bottom: 20px;
}
.boxcenter {
    font-weight: 600;
    width: 100%;
    margin: 0 auto;

}

.row {
    float: left;
    width: 100%;
}

.demo {
    background: rgb(150, 146, 146);
    min-height: 100px;
    
}

.header {
    /* background-color: rgb(198, 195, 191); */
    background: linear-gradient(to right, #666699 33%, #cc6699 100%);
    border: 1px solid #000;
    padding: 30px;
    text-align: center;
}

.header h1 {
    font-size: 30px;

}

.menu {
    display: inline-flex;
    padding: 10px 150px;
    justify-content: space-between;
    border-radius: 5px;
}
ul{
    list-style: none;
}
.menu ul a {
    display: inline-flex;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    list-style: none;
}

.menu ul a:hover {
    background-color: #333;
    color: rgb(255, 255, 255);
}

.content {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 10px;
}

.right {
    border-radius: 5px;
}

.right .row {
    margin-top: 10px;
}

.box_title {
    padding: 7px 10px;
    text-align: center;
    font-size: 20px;
    color: #333;
    background-color: rgb(168, 168, 168);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;

}

.box_content {
    margin-top: -15.5px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
}

.box_content ul {
    list-style: none;
}

.box_content ul a li {
    padding: 7px;
    border-bottom: 1px solid #000;
    width: 100%;
    margin-left: -20px;
}
.box_content ul a{
    text-decoration: none;
    color: #000;
}
.box_content ul a li:hover {
    background: #A8A8A8;
}

.search {
    /* border: 1px solid #000; */
    margin-bottom: 10px;
}

.search input {
    width: 70%;
    /* margin-bottom: 5px; */
    padding: 6px 9px;
    border-radius: 5px;
    height: 25px;
    border: none;
    border: 1px solid;

}
.product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding:  30px;
    text-align: center;
    font-weight: 550;

}
.product img{
    width: 100%;
    height: 200px;
}
.product p{
    font-weight: 550;
    margin: 0;
}
.list_product{
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #000;
}
.list_product a{
    text-decoration: none;
    color: rgb(18, 17, 17);
}
.list_product a:hover{
    color: rgb(150, 8, 8);
}
button {
    float: right;
    border-radius: 5px;
    padding: 6px 9px;
    border: 1px solid;
    font-size: 10px;
}
.top10_favourite{
    padding: 0 3px;
    margin-bottom: -20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-gap: 10px; */
}
.top10_favourite img{
    margin: 20px;
    border: 1px solid #000;
    padding: 2px;
    width: 50%;
    border-radius: 5px;
}
.top10_favourite a,.box_footer_content a{
    text-decoration: none;
    color: #000;
}
.top10_favourite a:hover,.box_footer_content a:hover{
    color: rgb(150, 8, 8);
}
.box_footer_content img{
    width: 100%;
}
.footer {
    background-color: rgb(198, 195, 191);
    border: 1px solid #000;
    padding: 30px;
    text-align: center;

}
.box_footer_title {
    padding: 7px 10px;
    text-align: center;
    font-size: 20px;
    color: #333;
}

.menu {
    position: relative;
}
/* Form */
.logins{
    display: none;
    padding: 20px;
}
.loginss{
    display: none;
    padding: 20px;
}
.container_form{
    position: absolute;
    background-color:#aaaab0;
    top: 70px;
    left: 900px;
    right: 200;
    border-radius: 5px;
}
.container_form input{
    margin: 20px 30px;
    padding: 5px;
}
.container_forms{
    position: absolute;
    background-color:#aaaab0;
    top: 70px;
    left: 950px;
    right: 200;
    border-radius: 5px;
}
.container_forms input{
    margin: 20px 30px;
    padding: 5px;
}